# Django
SECRET_KEY=change-this-to-a-long-random-string
DJANGO_SETTINGS_MODULE=config.settings.development
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgres://ticketing:password@localhost:5432/ticketing

# Redis
REDIS_URL=redis://localhost:6379/0

# Security
QR_SECRET=change-this-to-a-long-random-string-for-qr-signing

# LemonSqueezy
LEMON_SQUEEZY_API_KEY=your_ls_api_key_here
LEMON_SQUEEZY_WEBHOOK_SECRET=your_ls_webhook_secret_here
LS_STORE_ID=your_ls_store_id_here

# M-Pesa Daraja
MPESA_CONSUMER_KEY=your_mpesa_consumer_key
MPESA_CONSUMER_SECRET=your_mpesa_consumer_secret
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_mpesa_passkey
MPESA_SANDBOX=True

# Sentry
SENTRY_DSN=

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
